@font-face {
    font-family: 'myfont';
    src: url('/bootstrap/font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'myfontbold';
    src: url('/bootstrap/font/Montserrat-Bold.ttf') format('truetype');
}

body {
    font-family: 'myfont', sans-serif;
    background-color: #f2f2f2;
    width: 100%;
    height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/sanagustinlogo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    opacity: 0.2;
    filter: blur(3px);
    z-index: -1;
    pointer-events: none;
}

.business-container {
    max-width: 1500px;
    margin: 50px auto;
}

.business-title {
    font-family: 'myfontbold';
    font-size: 24px;
    margin-bottom: 30px;
    color: #000;
}

.form-label {
    font-family: 'myfontbold', sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
}

.required {
    color: red;
}

.form-control,
.form-select {
    border: 1px solid #000;
    border-radius: 4px;
    height: 45px;
    font-size: 18px;
}

.form-control:focus,
.form-select:focus {
    border-color: #198754;
    box-shadow: none;
}

.form-check-input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.form-check-label {
    font-size: 18px;
    margin-left: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-submit {
    background: #198754;
    color: #fff;
    border: none;
    padding: 12px 50px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
}

.btn-submit:hover {
    background: #146c43;
}

@media (max-width: 1400px){
    .business-container {
        padding: 20px;
    }

    .business-title {
        font-size: 22px;
    }
}


@media (max-width: 768px) {
    .business-container {
        padding: 20px;
    }

    .business-title {
        font-size: 22px;
    }
}
